.button {
    padding: 15px 20px;
    border-radius: 30px;

    &__icon {
        fill: $lightpink;
        width: 20px;
        height: 20px;
        margin: 8px;
    }

    &--white {
        display: flex;
        align-items: center;
        background: white;
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 20px;
        box-shadow: 0 4px 0 0 $lightgray1;
    }

    &--pink {
        background: linear-gradient(to bottom, #f8b3b5, #f2989c);
        padding: 25px 40px;
        border-radius: 60px;
        box-shadow: inset 0 -5px 0 0 #ef8c93, 0 5px 0 0 #d7747a;

        .button__text {
            font-size: 0.9rem;
            font-weight: 700;
            color: white;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    &:hover {
        filter: brightness(0.9);
    }
    &:active {
        transform: scale(0.9);
    }

    @media(max-width: 1470px) {
        padding: 10px 15px;

        &--pink {
            padding: 15px 20px;
        }
    }

    @media (max-width: 1100px) {
        &--pink {
            padding: 10px 20px;
        }
    }
}

.info-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #f8b3b5, #f2989c);
    box-shadow: 0 0 0 rgba(239, 149, 153, 0.4);
    animation: pulse 2s infinite;

    &__icon {
        fill: white;
        width: 28px;
        height: 28px;
    }
      
    @-webkit-keyframes pulse {
        0% {
          -webkit-box-shadow: 0 0 0 0 rgba(239, 149, 153, 0.4);
        }
        70% {
            -webkit-box-shadow: 0 0 0 10px rgba(239, 149, 153, 0);
        }
        100% {
            -webkit-box-shadow: 0 0 0 0 rgba(239, 149, 153, 0);
        }
    }
    @keyframes pulse {
        0% {
          -moz-box-shadow: 0 0 0 0 rgba(239, 149, 153, 0.4);
          box-shadow: 0 0 0 0 rgba(239, 149, 153, 0.4);
        }
        70% {
            -moz-box-shadow: 0 0 0 10px rgba(239, 149, 153, 0);
            box-shadow: 0 0 0 10px rgba(239, 149, 153, 0);
        }
        100% {
            -moz-box-shadow: 0 0 0 0 rgba(239, 149, 153, 0);
            box-shadow: 0 0 0 0 rgba(239, 149, 153, 0);
        }
    }
}

.down-button {
    position: absolute;
    top: -48px;
    left: 50%;
    width: 130px;
    height: 130px;
    transform: translate(-50%, 0);
    background: url("../../assets/img/down.png") 50% 50% no-repeat;
    background-size: contain;

    &:hover {
        filter: brightness(0.9);
    }
    &:active {
        transform: translate(-50%, 0) scale(0.9);
    }

    @media(max-width: 1300px) {
        width: 90px;
        height: 90px;
        top: -30px;
    }
}

.cross-button {
    width: 100px;
    height: 100px;

    &:before,
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 25px;
        height: 2px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background: gray;
        border-radius: 1px;
        transition: 0.3s;
    }

    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
        &:before,
        &:after {
            background: $lightpink;
        }
    }

    &:active {
        &:before,
        &:after {
            background: $pink;
        }
    }

    @media(max-width: 645px) { 
        width: 50px;
        height: 50px;

        &:before,
        &:after {
            width: 15px;
        }
    }
}

.menu-button {
    display: none;

    @media(max-width: 992px) {
        display: block;
        width: 40px;
        height: 40px;
        margin-left: auto;
        transition: 0.3s;

        &__icon {
            width: 100%;
            height: 100%;
            stroke: $black;
            stroke-width: 2px;
            stroke-linecap: round;
    
            &--cross {
                display: none;
            }
            
            &:hover {
                stroke: $pink;
            }
    
            &:active {
                transform: scale(0.9);
            }
        }
    }
}