.form {
    width: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 100px;
    background: $lightpink1 url("../../assets/img/form-bg.jpg") 50% 50% no-repeat;
    background-size: cover;
    border-radius: 50px;

    &__title {
        display: block;
        font-size: 2.2rem;
        font-weight: 300;
        margin-bottom: 15px;
        b {
            font-weight: 700;
        }
    }

    &__desc {
        font-size: 1rem;
        margin-bottom: 35px;
        text-align: center;
    }

    .input {
        z-index: 1;
    } 

    .button {
        position: relative;
        width: 100%;
        text-align: left;
        padding-left: 70px;

        &__text {
            letter-spacing: 2px;
            font-size: 1.2rem;
        }

        &:before {
            content: '';
            position: absolute;
            width: 200px;
            height: 55px;
            top: 50%;
            left: 95%;
            transform: translate(-50%, -50%);
            background: url("../../assets/img/Plant.png") 50% 50% no-repeat;
            background-size: contain;
            z-index: 2;
        }
    }

    &__decor {
        position: absolute;
        top: 190px;
        left: -100px;
        width: 265px;
        height: 385px;
        background: url("../../assets/img/notebook.png") 50% 50% no-repeat;
        background-size: contain;
    }

    @media(max-width: 1470px) {
        width: 600px;
        padding: 50px 70px;

        &__decor {
            width: 175px;
            height: 260px;
        }

        .button {
            padding: 20px;
        }
    }

    @media(max-width: 1300px) {
        width: 500px;

        &__desc {
            margin-bottom: 20px;
        }

        &__decor {
            top: 80px;
            left: -60px;
        }

        .button {
            padding: 15px 20px;
        }
    }

    @media(max-width: 645px) {
        padding: 40px 30px;
        width: 300px;
        border-radius: 25px;

        &__title {
            font-size: 16px;
        }

        &__decor {
            display: none;
        }

        &__desc {
            font-size: 9px;
        }

        .button {
            padding: 10px 15px;

            &__text {
                font-size: 9px;
            }

            &:before {
                width: 100px;
                height: 25px;
                top: 50%;
                left: 95%;
            }
        }
    }
}

.form-success {
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    background: $lightpink1 url("../../assets/img/form-success-bg.jpg") 100% 100% no-repeat;
    background-size: cover;
    border-radius: 50px;

    &__icon {
        width: 95px;
        height: 95px;
        fill: $lightpink;
        stroke: $lightpink;
        margin-bottom: 25px;
    }

    &__text {
        font-size: 2rem;
        font-weight: 300;

        b {
            font-weight: 700;
        }
    }

    @media(max-width: 1470px) {
        width: 400px;
        padding: 70px;

        &__icon {
            width: 80px;
            height: 80px;
        }
    }

    @media(max-width: 1300px) {
        width: 300px;
        padding: 50px;

        &__icon {
            width: 70px;
            height: 70px;
            margin-bottom: 15px;
        }
    }

    @media(max-width: 645px) {
        padding: 30px;
        width: 200px;
        border-radius: 25px;

        &__icon {
            width: 40px;
            height: 40px;
        }

        &__text {
            font-size: 12px;
        }
    }
}