.main-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        width: 100%;
    }

    &__logo {
        width: 290px;
        height: 130px;
        margin-right: 2.1vw;
        object-fit: contain;
    }

    &__desc {
        display: block;
        width: 150px;
        font-size: 14px;
        font-weight: 300;
        margin-right: 7vw;
    }

    &__location {
        width: 320px;
        margin-right: 3vw;
        font-size: 16px;
    }

    &__map {
        width: 4vw;
        height: 4vw;
        border-radius: 50%;
        float: left;
        margin-right: 25px;
        box-shadow: 0 0 10px -4px $lightgray;
        background: white url("../../assets/img/map.jpg") 50% 50% no-repeat;
        background-size: cover;
    }

    &__location-icon {
        fill: $lightpink;
        width: 20px;
        height: 20px;
        margin-top: 12px;
        margin-left: 33px;
    }

    &__location-text {
        display: inline-block;
        font-weight: 700;
        line-height: 20px;
    }

    &__location-adress {
        display: inline-block;
        font-weight: 300;
        line-height: 25px;
        margin-bottom: 5px;
    }

    &__schedule {
        width: 245px;
        margin-right: 3.5vw;
    }

    &__phone {
        text-align: right;

        .main-header__schedule-icon {
            margin-bottom: 0.5vw;
        }
    }

    &__phone-text {
        position: relative;
        display: inline-block;
        padding-right: 2px;
        margin-bottom: 5px;
        font-size: 12px;
        font-weight: 500;

        &:before {
            content: '';
            position: absolute;
            display: block;
            top: 5px;
            left: -15px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $green;
            box-shadow: 0 0 5px 0 $green;
        }
    }

    &__phone-number {
        font-size: 23px;
        font-weight: 500;
        color: black;
        display: block;
    }

    &__schedule-hours {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__schedule-icon {
        width: 36px;
        height: 36px;
        margin-right: 10px;
        border-radius: 50%;
        float: left;
        background: white;
        box-shadow: 0 0 10px -4px $lightgray;

        svg {
            fill: $lightpink;
            width: 20px;
            height: 20px;
            margin: 8px;
        }
    }

    &__schedule-text {
        font-size: 16px;
        font-weight: 300;

        b {
            font-weight: 700;
        }
    }
}

