.intro {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: $lightpink1 url(../../assets/img/intro-bg.jpg) 100% 0% no-repeat;
    background-size: cover;

    &__content {
        position: relative;
        width: 55%;
        height: 100vh;
        padding-left: 6vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        z-index: 1;
    }

    .main-title {
        display: inline-block;
        margin-top: 12vh;
        margin-bottom: 4vh;
    }

    .list {
        margin-bottom: 3vh;
    }

    .button  {
        position: relative;
        padding-right: 140px;

        &:before {
            content: '';
            position: absolute;
            width: 275px;
            height: 75px;
            top: 50%;
            left: 100%;
            transform: translate(-50%, -50%);
            background: url("../../assets/img/Branch.png") 50% 50% no-repeat;
            background-size: contain;
            z-index: 2;
        }
    }

    &__card {
        position: absolute;
        width: 175px;
        height: 210px;
        bottom: 14%;
        right: 20%;
        transform: translate(100%, -50%);
    }

    &__card-decor {
        position: absolute;
        width: 850px;
        height: 520px;
        top: 0;
        left: -174px;
        background: url("../../assets/img/intro-card.png") 50% 50% no-repeat;
        background-size: contain;
    }

    .info-button {
        position: absolute;
        bottom: 2px;
        right: 2px;
        z-index: 2;
        transform: translate(50%, 50%);

        &:hover {
            filter: brightness(0.9);
        }
        &:active {
            transform: translate(50%, 50%) scale(0.9);
        }
    }

    &__card-text {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 2px;
        text-align: center;
        line-height: 17px;
    }

    &__spot-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }

    &__spot {
        &--left {
            top: 30vh !important;
            left: 5vw !important;
            width: 395px;
            height: 340px;
            background: url("../../assets/img/intro-spot--left.png") 50% 50% no-repeat;
            background-size: contain;
        }

        &--right {
            left: auto !important;
            top: 7vh !important;
            right: -5vw !important;
            width: 260px;
            height: 260px;
            background: url("../../assets/img/intro-spot--right.png") 50% 50% no-repeat;
            background-size: contain;
        }
    }

    &__wave {
        position: absolute;
        width: 100%;
        height: 160px;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        background: url("../../assets/img/wave.png") 50% 0% no-repeat;
        background-size: cover;
        z-index: 1;
    }

    @media(max-width: 1470px) {
        &__card {
            height: 175px;
            right: 25%;
            bottom: 10%;
        }

        &__card-decor {
            height: 430px; 
            width: 700px;
            left: -112px;
        }

        &__card-popup {
            top: -35px;
        }

        .button {
            padding-right: 95px;
            &:before {
                width: 190px;   
                height: 50px;
            }
        }

        &__wave {
            bottom: -30px;
            height: 115px;
        }

        &__spot {
            &--left {
                top: 30vh !important;
                left: 3vw !important;
                width: 220px;
                height: 200px;
            }
    
            &--right {
                width: 160px;
                height: 160px;
            }
        }
    }

    @media(max-width: 1300px) {
        &__card {
            transform: translate(100%, -50%) scale(0.8);
            right: 30%;
            bottom: 4%;
        }
    }

    @media (max-width: 1100px) {
        .button {
            padding-right: 80px;

            &:before {
                width: 145px;
                height: 40px;
            }
        }

        &__wave {
            height: 95px;
        }
    }

    @media (max-width: 992px) {
        background: $lightpink1 url(../../assets/img/intro-bg--mobil.jpg) 100% 0% no-repeat;
        background-size: cover;

        &__card {
            transform: translate(100%, -50%) scale(0.9);
            right: 0%;
            bottom: 13%;
        }

        .main-title {
            margin-top: 0vh;
        }

        &__spot {
            &--left {
                left: 7vw !important;
                width: 157px;
                height: 140px;
            }
    
            &--right {
                width: 130px;
                height: 130px;
                top: 10vh !important;
            }
        }
    }

    @media (max-width: 745px) {
        &__content {
            width: auto;
            max-width: 400px;
        }

        .main-title {
            font-size: 20px;
        }

        &__card {
            transform: translate(100%, -50%) scale(0.7);
            right: 19%;
            bottom: 13%;
        }
    }

    @media (max-width: 645px) {
        &__content {
            max-width: 100%;
            padding-left: 0;
        }

        &__card {
            display: none;
        }
    }
}